@import "./reset.scss";
@import "./fonts.scss";

body {
  font-family: "TTNorms-Regular";
  font-size: 18px;
  line-height: 1.66;
  background: #f9f9f9;
  color: #121715;
  user-select: none;
  overflow: hidden;
}
.page {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  max-width: 1740px;
  padding-left: 120px;
}

h1 {
  font-family: "TTNorms-Medium";
  font-size: 115px;
  line-height: 1.13;
  text-transform: uppercase;
  margin-right: 30px;
}

.button {
  border: 1px solid #cfcfcf;
  border-radius: 50px;
  padding: 12px 64px;
  transition: all ease-in-out 150ms;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 7px #cfcfcfc5;
  }
}

.title {
  font-family: "TTNorms-Medium";
  font-size: 48px;
  line-height: 1.25;
  text-transform: uppercase;
  white-space: nowrap;
  & span {
    display: block;
    padding-left: 90px;
  }
}

// === menu ===
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 120px;
  height: 100vh;
  background: transparent;
  border-right: 1px solid rgba(240, 240, 240, 0.4);

  z-index: 50;

  transition: all ease 300ms;

  &__logo {
    opacity: 0;
    position: absolute;
    top: 30px;
    left: calc(50% - 45px);
    width: 90px;

    transition: opacity ease 300ms;
  }

  &__link {
    font-family: "TTNorms-Medium";
    text-transform: uppercase;
    transform: rotate(-90deg);
    line-height: 1;
    padding: 20px;
    cursor: pointer;
    z-index: 10;

    display: flex;
    align-items: flex-end;
    transition: text-shadow ease-in-out 100ms;
    &:not(.active):hover {
      text-shadow: 0px 0px 10px #fff;
      & span::before {
        width: 50px;
      }
    }
    & span {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 22px;
      width: 50px;

      &::after,
      &::before {
        display: block;
        position: relative;
        height: 3px;
        background: #fff;
        transition: transform ease-in-out 250ms;
      }
      &::before {
        content: "";
        top: -5px;
        width: 33px;
        transition: width linear 200ms;
      }
      &::after {
        content: "";
        width: 50px;
      }
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    padding: 30px 0 90px 180px;
    height: 100%;
    width: 726px;
    left: -100%;
    top: 0;
    background: #fff;
    color: #121715;

    transition: all linear 270ms;
    &.sublist-open {
      width: 1185px;
    }
    & .logo {
      opacity: 0;
      margin-bottom: 130px;
    }
  }
  &-list,
  &-sublist {
    display: flex;
    flex-direction: column;
    flex: 1 0;

    position: relative;
    &__item {
      margin-bottom: 40px;
      white-space: nowrap;
      position: relative;
      padding-right: 70px;

      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;

        display: inline-block;
        height: 1px;
        width: 0;
        background: #121715;

        transform: translateY(-50%);
        transition: width linear 200ms;
      }

      &.active {
        & .menu-sublist {
          opacity: 1;
          visibility: visible;
          left: calc(100% + 140px);
        }
        &::after {
          content: "";
          width: 70px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      font-size: 24px;
      line-height: 1.25;
      text-transform: uppercase;
      transition: all ease-in-out 100ms;
      &:hover {
        color: #1217159f;
        position: relative;
        bottom: 1.5px;
      }
    }
  }
  &-sublist {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: calc(100%);
    top: 0;
    height: 100%;
    transition: all ease 250ms;
  }
  &-contacts {
    &__phone {
      margin-bottom: 10px;
    }
    &__phone,
    &__mail {
      display: block;
      font-size: 24px;
      line-height: 1.25;
    }
    &__top {
      margin-bottom: 50px;
    }
    &__socials {
      display: flex;
      & a {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        &:hover {
          box-shadow: 0px 0px 10px #f4a62f;
        }
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
  &.active {
    color: #121715;
    & a {
      align-items: center;
    }
    & img.logo {
      opacity: 1;
      transition: opacity ease-in-out 2s;
    }
    & span {
      &::after,
      &::before {
        background: #121715;
      }
      &::before {
        transform: rotate(-45deg);
        top: 1px;
      }
      &::after {
        width: 33px;
        bottom: 1px;
        transform: rotate(45deg);
      }
    }
  }
  &.active &__inner {
    left: 0;
  }
  &.transform &__logo {
    opacity: 1;
  }
  &.transform {
    color: #121715;
    background: #fff;
    & span {
      &::before,
      &::after {
        background: #121715;
      }
    }
  }
}
// === /menu ===

// === first screen - intro ===
.intro {
  height: 100vh;
  background: url("@/assets/intro.jpg") no-repeat top center / cover;
  position: relative;
  color: #ffffff;
  &__inner {
    height: 100%;
    padding: 30px 120px 86px 180px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  &__logo {
    margin-bottom: 187px;
  }
  &__heading {
    display: flex;
    align-items: flex-end;
    margin-bottom: auto;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 15px;
  }

  &-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: flex-end;
    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
    &__icon {
      margin-bottom: 9px;
    }
    &__label {
      font-family: "TTNorms-Medium";
      text-transform: uppercase;
    }
  }
  &-skip {
    position: absolute;
    left: 50%;
    bottom: 61px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;

    & span {
      display: inline-block;
      width: 11px;
      height: 11px;
      background: #fff;
      border-radius: 50%;
      margin-bottom: 4px;
    }
    & svg {
      position: relative;
      animation: intro-skip ease 1s infinite alternate;
    }
  }
}
// === /first screen - intro ===

// .block-image {
//   flex: 0 0 605px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-right: 40px;
// }

// === about ===
.about {
  &__inner {
    display: flex;
    align-items: flex-start;
  }
  &__title {
    color: #ffffff;
    margin-bottom: 60px;
  }

  &-video {
    min-width: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 285px;
    height: 100vh;
    background: url("@/assets/about-video-bg.jpg") no-repeat top center / cover;
    &__btn {
      cursor: pointer;
    }
  }
  &__content {
    flex-grow: 1;
    padding: 130px 80px 30px;
  }
  &__text {
    margin-bottom: 70px;
  }
  &__items {
    margin-bottom: 80px;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    &__num {
      flex: 1 0;
      font-family: "TTNorms-Bold";
      font-size: 70px;
      line-height: 1;
      color: #f4a62f;
    }
    &__text {
      flex: 1 0;
      font-size: 24px;
      line-height: 1.25;
    }
  }
}

.modal-video {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: fit-content;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 3px #121715;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: all ease-in-out 200ms;
  &__close {
    width: 30px;
    height: 30px;
    background-color: #121715c5;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &::after,
    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 2px;
      background-color: #fff;
      position: absolute;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
  &__video {
    width: 100%;
    border-radius: 8px;
  }
  &__backdrop {
    transition: all ease-in-out 200ms;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #121715c5;
    z-index: 99;
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  &.open {
    opacity: 1;
    visibility: visible;
  }
}
// === /about ===

// === brands ===
.brands {
  &__inner {
    display: flex;
    align-items: flex-start;
  }
  &__heading {
    min-width: 605px;
    min-height: 940px;
    padding: 220px 150px 10px;
    background: url("@/assets/brands-bg.jpg") no-repeat top center / cover;
  }
  &__content {
    flex: 1 0;
    overflow: hidden;
    padding: 230px 80px 30px;
  }
  &__text {
    margin-bottom: 90px;
  }
  &-swiper {
    margin-bottom: 70px;
    &__slide {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.2;
      position: relative;
      height: 80px;
      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }
  & .swiper {
    padding-left: 80px;
    left: -80px;
    &-button {
      &-disabled {
        opacity: 0.3;
      }
      &-next,
      &-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        border: 1px solid #cfcfcf;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 11;
      }
      &-next {
        left: 50%;
        &::after {
          content: "";
          display: block;
          height: 21px;
          width: 14px;
          background: url("@/assets/icons/arrow-right.png") no-repeat center /
            cover;
        }
      }

      &-prev {
        left: 0;
        &::after {
          content: "";
          display: block;
          height: 21px;
          width: 14px;
          background: url("@/assets/icons/arrow-left.png") no-repeat center /
            cover;
        }
      }
    }
  }
}
// === /brands ===

// === complexes ===
.complexes {
  background: url("@/assets/complexes-map.png") no-repeat center / cover;
  background-position: 0 120px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 110px 83px 40px;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 144px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__num {
    font-family: "TTNorms-Medium";
    font-size: 48px;
    line-height: 1.25;
    color: #f4a62f;
  }
  &__content {
    position: relative;
  }
  &__main {
    width: 605px;
    background: #f9f9f9;
    &-inner {
      padding: 40px 60px 60px;
    }
  }
  &__image {
    width: 100%;
    height: 410px;
    background: url("@/assets/complex-01.jpg") no-repeat center / cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  &__btn {
    margin-bottom: 40px;
    color: #fff;
  }
  &__name {
    font-family: "TTNorms-Medium";
    font-size: 24px;
    line-height: 1.25;
    color: #121715;
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__num {
      font-family: "TTNorms-Medium";
      font-size: 30px;
      line-height: 1;
      white-space: nowrap;
      margin-bottom: 10px;
      & span {
        font-size: 18px;
        line-height: 1.67;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 1.25;
    }
  }
  &-marker {
    position: absolute;

    &-1 {
      left: 60%;
      top: 35%;
    }
    &-2 {
      left: 50%;
      top: 65%;
    }
    &-3 {
      left: 70%;
      top: 55%;
    }
    &__icon {
      cursor: pointer;
    }
    &__label {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 100%;
      top: 0;
      white-space: nowrap;
      padding: 5px 20px;
      font-weight: 400;
      font-size: 24px;
      line-height: 1;
      background: #fff;
    }
    &.active &__label {
      opacity: 1;
      visibility: visible;
    }
    &.active {
      & svg {
        & .marker {
          fill: #407a30;
        }
      }
    }
  }
}
// === /complexes ===

// === vacancies ===
.vacancies {
  &__inner {
    display: flex;
    align-items: flex-start;
  }
  &__heading {
    padding: 220px 110px 0;
    width: 605px;
    height: 100vh;
    background: url("@/assets/vacancies-bg.jpg") no-repeat top center / cover;
  }
  &__title {
    color: #fff;
  }
  &__bg {
    width: 100%;
    margin-bottom: 96px;
  }
  &__content {
    padding: 100px 73px 10px;
    height: 100%;
  }
  &__text {
    margin-bottom: 140px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 395px;
    background: url("@/assets/vacancies-item.png") no-repeat center / contain;
    &:nth-child(2) {
      bottom: 230px;
    }
    &__num {
      font-family: "TTNorms-Medium";
      font-size: 115px;
      line-height: 1.13;
      color: #f4a62f;
      margin-bottom: 10px;
    }
    &__label {
      font-family: "TTNorms-Medium";
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 16px;
      line-height: 1.25;
    }
    &__link {
      width: 60px;
      height: 60px;
      background: #f9f9f9;
      border: 1px solid #cfcfcf;
      border-radius: 50px;
      position: absolute;
      left: 70%;
      top: 40px;

      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: "";
        display: block;
        width: 14px;
        height: 21px;
        background: url("@/assets/icons/arrow-right.png") no-repeat center /
          cover;
      }
    }
  }
}
// === /vacancies ===

// === purchases ===
.purchases {
  &__inner {
    display: flex;
  }
  &__heading {
    width: 605px;
    height: 500px;
    background: url("@/assets/purchases-bg.jpg") no-repeat top center / cover;
    padding: 170px 0px 0px 60px;
  }
  &__content {
    padding: 170px 10px 10px 105px;
    position: relative;
    flex-grow: 1;
  }
  &__text {
    margin-bottom: 60px;
  }
  &__bg {
    position: absolute;
    right: 0;
    bottom: 130px;
  }
}
// === /purchases ===

// === partners ===
.partners {
  padding: 130px 0;
  background: #fff;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-swiper {
    &__slide {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 50px;
    }
  }
  & .swiper {
    padding: 10px 80px;
    max-width: 40%;
    margin: 0;
    &-button {
      &-disabled {
        opacity: 0.3;
      }
      &-next,
      &-prev {
        position: absolute;
        top: calc(50% - 30px);
        width: 60px;
        height: 60px;
        border: 1px solid #cfcfcf;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 11;
      }
      &-next {
        right: 0;
        &::after {
          content: "";
          display: block;
          height: 21px;
          width: 14px;
          background: url("@/assets/icons/arrow-right.png") no-repeat center /
            cover;
        }
      }

      &-prev {
        left: 0;
        &::after {
          content: "";
          display: block;
          height: 21px;
          width: 14px;
          background: url("@/assets/icons/arrow-left.png") no-repeat center /
            cover;
        }
      }
    }
  }
}
// === /partners ===

// === footer ====
.footer {
  &-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #f1f1f1;
    height: 65px;
    &__text {
      font-size: 12px;
      line-height: 1.16;
      color: #121715;
    }
  }
}
// === /footer ====

@keyframes intro-skip {
  100% {
    top: 10px;
    transform: scale(1.1);
  }
  0% {
    top: 0;
    transform: scale(1);
  }
}

@media (max-width: 380px) {
  body {
    font-size: 16px;
    line-height: 1.56;
  }
  .container {
    padding: 0;
  }
  h1 {
    font-size: 34px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .button {
    padding: 9.5px 25px;
    font-size: 16px;
  }

  .brands__heading,
  .about-video,
  .vacancies__heading,
  .purchases__heading {
    margin: 0;
    min-height: unset;
    min-width: unset;
    width: 100%;
    height: 260px;
  }

  .intro {
    &__main {
      padding: 24px;
    }
    &__menu {
      display: none;
    }
    &__heading {
      flex-direction: column;
      align-items: flex-start;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 1.33;
      & br {
        display: none;
      }
    }
    &-about {
      align-self: flex-start;
      &__label {
        font-size: 14px;
      }
    }
    &-skip {
      transform: none;
      left: unset;
      right: 24px;
      bottom: 30px;

      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      & svg {
        position: relative;
        animation: intro-skip ease 500ms infinite alternate;
      }
    }
  }
  .title {
    font-size: 28px;
    line-height: 1.43;
  }
  .about {
    &__inner {
      flex-direction: column;
      padding: 0;
    }
    &-video {
      padding: 70px 0 0 0;
      &__btn {
        & svg {
          height: 88px;
        }
      }
    }
    &__title {
      margin-bottom: 20px;
    }
    &__content {
      padding: 30px 24px;
    }
    &__text {
      margin-bottom: 40px;
    }
    &__items {
      margin-bottom: 40px;
    }
    &-item {
      &__num {
        font-size: 34px;
        line-height: 1.29;
      }
      &__text {
        font-size: 16px;
        line-height: 1.56;
      }
    }
  }
  .modal-video {
    width: 350px;
  }

  .brands {
    &__inner {
      flex-direction: column;
    }
    &__heading {
      padding: 110px 24px 24px;
      align-items: flex-start;
    }
    &__title {
      padding-top: 0;
      & span {
        display: inline-block;
        padding: 0;
      }
    }
    &__content {
      padding: 30px 24px;
    }
    &-swiper {
      width: 327px;
      &__slide {
        & img {
          height: 38px;
        }
      }
    }
    & .swiper {
      padding-left: 0;
      left: 0;
      &-button {
        &-next,
        &-prev {
          width: 32px;
          height: 32px;
        }
        &-next {
          right: 0;
          left: unset;
          &::after {
            height: 11.12px;
            width: 7.47px;
          }
        }
        &-prev {
          left: 0;
          &::after {
            height: 11.12px;
            width: 7.47px;
          }
        }
      }
    }
  }
  .complexes {
    height: 500px;
    background-position: center 100px;
    &__top {
      padding: 70px 24px 40px;
    }
    &__items {
      display: none;
    }
    &__content {
      height: 250px;
    }
    &__main {
      &.sheet-modal {
        display: none;
      }
    }
    &-marker {
      position: absolute;

      &-1 {
        left: 60%;
        top: 50%;
      }
      &-2 {
        left: 20%;
        top: 55%;
      }
      &-3 {
        left: 10%;
        top: 15%;
      }
      &.active &__label {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .vacancies {
    &__inner {
      flex-direction: column;
    }
    &__heading {
      padding: 90px 24px 24px;
    }
    &__content {
      padding: 30px 24px;
    }
    &__text {
      margin-bottom: 90px;
      & br {
        display: none;
      }
    }
    &__bg {
      display: none;
    }
    &-item {
      width: 144px;
      height: 131px;
      &:nth-child(2) {
        bottom: 55px;
      }
      &__num {
        font-size: 34px;
        line-height: 1.29;
        margin-bottom: 6px;
      }
      &__label {
        font-size: 12px;
        line-height: 1.33;
        margin: 0;
      }
      &__text {
        display: none;
      }
      &__link {
        width: 28px;
        height: 28px;
        left: 65%;
        top: 5px;
        &::after {
          width: 6.53px;
          height: 9.8px;
        }
      }
    }
  }

  .purchases {
    &__inner {
      flex-direction: column;
    }
    &__heading {
      padding: 110px 24px 24px;
    }
    &__content {
      padding: 39px 24px 50px;
    }
    &__bg {
      right: -80px;
      bottom: 0;
    }
  }

  .partners {
    padding: 70px 24px;
    &__inner {
      flex-direction: column;
    }
	 &__title {
		margin-bottom: 24px;
	 }
    &-swiper {
      padding: 0 !important;
      max-width: unset !important;
    }
  }

  .footer {
    &__inner {
      padding: 0 24px;
    }
  }

  @keyframes intro-skip {
    100% {
      top: 2px;
      transform: scale(1.02);
    }
    0% {
      top: 0;
      transform: scale(1);
    }
  }
}
